@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');



/* iOS Safari select fix */
@supports (-webkit-touch-callout: none) {
  select,
  input {
    -webkit-appearance: none; /* Remove default iOS style */
    -moz-appearance: none;
    appearance: none;
    font-size: 16px; /* iOS zoom fix for inputs/selects */
  }
}
